In [2]:
import sqlite3
import pandas as pd

# Replace 'your_database_file.sqlite' with the name of your SQLite database file
database_file = 'data/osama1984osama/data.sqlite'

# Create a connection to the SQLite database file
connection = sqlite3.connect(database_file)

# Create a cursor object to interact with the database
cursor = connection.cursor()

# Example query to read data from a table in the database
cursor.execute("SELECT * FROM messages")

# Fetch the results and store them in a Pandas DataFrame
data = cursor.fetchall()
df = pd.DataFrame(data)

# Display the DataFrame in the Jupyter Notebook
df

,0,1,2,3,4,5,6,7
0,46343,message,2023-10-03 06:12:27,None,⭕️ شاهد| قوات الاحتلال تمنع المقدسيين من دخول ...,None,1434753001,46343.0
1,46344,message,2023-10-03 06:12:56,None,🌦️حالة الطقس: أجواء خريفية لطيفة في معظم المنا...,None,1434753001,NaN
2,46345,message,2023-10-03 06:13:08,None,💰أسعار صرف العملات مقابل الشيكل اليوم الثلاثاء...,None,1434753001,NaN
3,46346,message,2023-10-03 06:13:44,None,الهلال الأحمر: إصابة 7 مواطنين خلال مواجهات مع...,None,1434753001,NaN
4,46347,message,2023-10-03 06:14:10,None,المقاومة في قطاع غزة تطلق صواريخ تجريبية باتجا...,None,1434753001,NaN
5,46348,message,2023-10-03 06:14:51,2023-10-03 06:31:48,سرايا القدس: سرايا القدس تنفذ الآن في أحد مواق...,None,1434753001,NaN
6,46349,message,2023-10-03 06:15:12,None,مصادر مقدسية: أكثر من 150 مستوطنًا اقتحموا الم...,None,1434753001,NaN
7,46350,message,2023-10-03 06:31:48,2023-10-03 07:51:02,*إذاعة الجيش الإسرائيلي:*\nتفعيل صفارات الإنذا...,None,1434753001,NaN
8,46351,message,2023-10-03 09:55:57,None,وفاة طفل في حادث سير برفح.,None,1434753001,NaN
9,46352,message,2023-10-03 09:57:38,None,مرور غزة : وفاة الطفل (ياسين محمد موسى أبو جزر...,None,1434753001,NaN
10,46353,message,2023-10-03 10:19:59,None,"مزارعو غزة يبدأون قطف محصول ""البلح""",None,1434753001,NaN
11,46354,message,2023-10-03 10:20:00,None,,None,1434753001,46354.0
12,46355,message,2023-10-03 10:20:00,None,,None,1434753001,46355.0
13,46356,message,2023-10-03 10:20:00,None,,None,1434753001,46356.0
14,46357,message,2023-10-03 10:20:01,None,,None,1434753001,46357.0
15,46358,message,2023-10-03 10:20:01,None,,None,1434753001,46358.0
16,46359,message,2023-10-03 10:20:01,None,,None,1434753001,46359.0
17,46360,message,2023-10-03 10:20:01,None,,None,1434753001,46360.0
18,46361,message,2023-10-03 10:20:01,None,,None,1434753001,46361.0
19,46362,message,2023-10-03 10:20:01,None,,None,1434753001,46362.0

In [ ]:
# You can now work with the 'data' variable, which contains the results of the query

# Close the cursor and connection when you're done
cursor.close()
connection.close()